body {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .navbar-nav > li.navbar-right {
        float: right !important;
    }
}

.navbar-main {
    background-image: url(../images/black-blur.png);
    background-color: transparent;
    border-color: transparent;
    height: 70px;
    background-repeat: repeat;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
    background-repeat: no-repeat;
}

.logo {
    background-image: url('../images/crickpick-square-logo.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    margin: 15px;
}

.navbar-default .navbar-nav>.active>a {
    color: white;
}

.menu-items a.item {
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-position: 13px 7px;
    padding: 35px 0px !important;
    margin: 0 10px;
}

.menu-items .home {
    background-image: url(../images/menu-home-gray.png) !important;
}

.menu-items.active .home {
    background-image: url(../images/menu-home.png) !important;
}

.menu-items .teams {
    background-image: url(../images/menu-teams-gray.png) !important;
}

.menu-items.active .teams {
    background-image: url(../images/menu-teams.png) !important;
}

.container .content {
    background-image: url(../images/white-blur.png);
    height: 500px;
    padding: 20px;
}

.content-header {
    background-color: #d9a320;
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    margin-top: 50px;
}

.tournament {
    background-color: white;
}

.tournament .header {
    background-color: #2870a8;
    padding: 8px;
    color: #efefef;
    font-size: 17px;
}
.tournament .match {
	background-color: #fff;
	padding: 8px;
	border-bottom: 1px solid #ccc;
}

